/node_modules
/app/Console
/app/Exceptions
/app/Http/Middleware
/app/Http/Kernel.php
/app/Models/User.php
/app/Providers/*.php
!/app/Providers/CalculationServiceProvider.php
/public/hot
/public/storage
/bootstrap
/config/*.php
!/config/app.php
/database/migrations
/database/factories/UserFactory.php
/lang
/public
/resources/css
/resources/js
/routes/api.php
/routes/channels.php
/routes/console.php
/storage
/storage/*.key
/tests/Feature
/tests/*.php
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

composer.json
composer.lock
package.json
phpunit.xml
README.md
webpack.mix.js
artisan
.styleci.yml
.gitattributes