/node_modules
/app/Console
/app/Exceptions
/app/Http/Middleware
/app/Http/Kernel.php
/app/Models
/app/Providers
/public/hot
/public/storage
/bootstrap
/config
/database
/lang
/public
/resources/css
/resources/js
/routes/api.php
/routes/channels.php
/routes/console.php
/storage
/storage/*.key
/tests
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

composer.json
composer.lock
package.json
phpunit.xml
README.md
webpack.mix.js
artisan
.styleci.yml
.gitattributes